.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5%;
  font-size: calc(5px + 2vmin);
  color: white;
}

.punchline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4%;
  font-size: calc(7px + 2vmin);
  color: peru;
}

.new-joke-button{
  color: white;
  border-width: 2px;
  width: 10em;
  background-color: black;
  margin-top: 4em;
  font-size: calc(3px + 1vmin);
  font-weight: bold;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5%;
  font-size: calc(10px + 2vmin);
  color: white;
  border-style: double;
}